.article {
  max-width: 800px;
  margin: 0 auto 20em;
  h1 {
    color: #212121;
  }
  .article-meta {
    border-bottom: 8px solid;
  }
  .article-content {
    margin: 2em auto;
    color: #363636;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 28px;

    img {
      max-width: 100%;
    }
  }
}

.article-foot-meta {
  margin: 2em 0;
}

.share-button {
  color: white;
  &.share-button-facebook {
    background-color: #3b5998;
  }
  &.share-button-whatsapp {
    background-color: #25D366;
  }
  margin: 3em 0;
}

.article-cover-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}
