html, body {
  overflow-x: hidden;
}

.home-header {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  h1 {
    font-size: 48px;
    font-weight: bold;
    color: #212121;
  }
}

.header-sections {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  &::before {
    border-bottom: 4px solid #727272;
    content: '';
    margin: 0 -9999rem;
    padding: 0.25rem 9999rem;
    z-index: 100;
  }
  .header-section {
    flex: 1;
    font-size: 20px;
    z-index: 110;
    border-bottom: 4px solid var(--color);
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, transparent 50%, var(--color) 50%);
    //padding: 0 1rem;
    transition: background-position 350ms;

    a {
      transition: color 350ms;
      color: #727272;
      &:active {
        color: $brand-primary;
      }
    }

    &:hover {
      background-position: 0 100%;
      a {
        color: #fafafa;
      }
    }
  }
}

.mobile-section {
  border-bottom: 2px solid;
}

.home-articles, .home-container {
  max-width: 800px;
  margin: 3em auto;
}

.home-article {
  margin: 5em 0;
  h2 {
    color: #212121;
  }
  border-top: 4px solid;
  .excerpt {
    color: #212121;
    font-family: 'Lato', sans-serif;
  }
}

.avatar-container {
  display: flex;
  flex-direction: row;
  img {
    flex: 0;
  }
}

.frontpage-col-1 {
  display: block;
  height: 100%;
  background-color: rebeccapurple;
}

.frontpage-col-2 {
  display: block;
  height: 100%;
  background-color: green;
}

.frontpage-col-3 {
  display: block;
  height: 100%;
  background-color: goldenrod;
}

.frontpage-col-4 {
  display: block;
  height: 100%;
  background-color: cadetblue;
}
