@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid";

.frontpage {
  @include container-fixed(16px);
  max-width: 1200px;
}

.frontpage-row {
  @include make-row(16px);
  min-height: 250px;
}

.frontpage-block {
  position: relative;
  height: 250px;
  padding: 16px;

  cursor: pointer;

  border-bottom: 4px solid;

  overflow: hidden;

  .frontpage-block-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: center center;
    transition: 200ms transform ease-in;
    &:hover {
      transform: scale(1.2);
    }
    &.blur {
      filter: blur(20px);
      z-index: 100;
      top: -28px;
      left: -28px;
      bottom: -28px;
      right: -28px;
    }
  }

  .frontpage-block-title {
    position: absolute;
    padding: inherit;
    top: 0;
    font-family: "Roboto", sans-serif;
    color: #fafafa;
    z-index: 200;
  }

  &.frontpage-block-1 {
    @include make-sm-column(3);
    font-size: 16px;
  }
  &.frontpage-block-2 {
    @include make-sm-column(6);
    font-size: 24px;
  }
  &.frontpage-block-3 {
    @include make-sm-column(9);
    font-size: 28px;
  }
  &.frontpage-block-4 {
    @include make-sm-column(12);
    font-size: 30px;
  }

  .frontpage-block-author {
    position: absolute;
    padding: inherit;
    bottom: 0;
    color: #fafafa;
    font-size: 12px;
    z-index: 200;
  }
}