@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

.ql-toolbar, .ql-editor {
  background-color: #fafafa;
  color: #212121;
}

.article-editor {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 4em;
}

.article-meta {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.article-meta * {
  margin: 0.4em;
}

select {
  color: #212121;
}

.article-meta {
  margin: 1em 0;
  padding: 1em;
  font-size: 16px;
  background-color: #474747;
}

.article-title-field {
  width: 100%;
  flex: 1;
  max-height: 80px;
  font-size: 36px;
  color: #212121;
}

input[name="published_at"] {
  color: #212121;
}

.modal, .modal * {
  color: #212121;
}