.sections-list {
  list-style-type: none;
  display: block;
  li {
    cursor: default;
    display: block;
    padding: 0.2em;
    margin: 0.2em 0;
    font-size: 130%;
    border-bottom: 2px solid;
    .drag-handle {
      margin-right: 1.5em;
      cursor: pointer;
    }
  }
}

.sortable-tree * {
  color: #212121;
}