& {
  background-color: #3E3E3E;
  color: #fafafa;
}

.manager-container {
  position: relative;
  @media screen and (min-width: $screen-md-min) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.sidebar {
  flex: 1;
  max-width: 300px;
  height: 100%;
  background-color: #515151;
}

main {
  margin-left: 25px;
  flex: 1;
}

.side-heading, .side-section {
  padding: 0.6em 0.6em 0.6em 0.8em;
  margin: 0.3em 0;
}

.side-heading {
  font-size: 20px;
}

.side-section {
  &:hover {
    background-color: #4a4a4a;
  }
  &.active {
    background-color: #474747;
    &:hover {
      background-color: #292828;
    }
  }
}

.side-section-name {
  font-size: 16px;
  color: #fafafa;
  margin-bottom: 0.4em;
}

.side-section-child {
  padding: 0.6em 0.6em 0.6em 1em;
  font-size: 14px;
  &.active {
    background-color: #26BFD8;
    &:hover {
      background-color: #1796AB;
    }
  }
  a {
    color: #fafafa;
  }
}