@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

@import "~flatpickr/dist/flatpickr.min.css";
@import "~flatpickr/dist/themes/dark.css";

body.manager {
  @import "sidebar";
  @import "editor";
  @import "sections";

  input {
    color: #212121;
  }

  .manager-popover * {
    color: #212121;
  }

  .list {
    form {
      display: inline;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    main {
      margin-left: 10px;
    }
  }

  .list {
    margin: 1em 0;
  }

  .list-item {
    width: 100%;
    min-height: 20px;
    padding: 1em;
    background-color: #343434;
    font-size: 120%;
    * {
      margin: 0 0.8em;
    }
    @media all and (max-width: $screen-sm-max) {
      .list-item-title {
        width: 90vw;
      }
    }
    .list-item-author {
      text-transform: uppercase;
    }
  }

  // Collapse table on small screens
  @media only screen and (max-width: 1490px) {
    table, thead, tbody, tr, td {
      display: block;
    }

    .list-item {
      padding: 1em 0.25em;
    }

    td {
      border: none;
      position: relative;
      &.buttons {
        margin-top: 0.3em;
      }
    }
  }
}

.well {
  background-color: #515151;
}
